// bower:scss
// endbower

@import 'compass/css3';


body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
.warning {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  z-index: 400;
}

h1, h2, h3 {
  font-family: "balthazar";
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
}

h1 {
  font-size: 2.7em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1.3em;
  line-height: 27px;
}

.image-shown {
  z-index: 110;
 }

.image-hidden {
  display: none;
}

.one {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) , #F4D135);
}
.two {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) , #EA8E08);
}
.three {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) , #DF1828);
}
.four {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) , #C6D505);
}



.hero {
  background: #333;
  width: 100%;
  height: 90vh;
  position: relative;
  padding-top: 9em;
  h1 {
    // position: absolute;
    text-align: center;
    margin: 0;
    color: #eee;
  }
  .logo {
    width: 25%;
    position: absolute;
    left: 37%;
    top: 25%;

  }
  
  .hero-img {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 0;
  }
  .smoke{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.enjoy-tri {
  width: 100%;
  height: 80vh;
  background: url("../images/enjoy-bg.png") fixed no-repeat;
  background-size: 100%;
  position: relative;
  .enjoy-content {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 5.9em;
    margin: 0;
    h1 {
      margin-bottom: -1px;
    }
    h2 {
      margin-top: 1em;  
    }
    p {
      text-align: center;
      width: 900px;
      margin: 2em auto 0 auto;
    }
  }
  .border {
    width: 100%;
    top: 10px;
    height: 0.2em;
    background: #333;
    position: absolute;
  }

  .border-bottom {
    width: 100%;
    bottom: 10px;
    height: 0.2em;
    background: #333;
    position: absolute;
  }

  img {
    width: 20%;
    position: absolute;
    top: 2.5em;
    left: 40%;
  }
}

.flavor-nav, .nav {
  width: 100%;
  position: relative;
  background: #333;
  color: #eee;
  font-weight: lighter;
  height: 5.3em;
  top: 0;
  ul {
    margin: 0 0 0 50%;
    text-align: center;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-right: 0.666em;
    letter-spacing: 1px;
    line-height: 5.1em;

    &:hover{
      border-bottom: 3px solid #eee;
      
    }

  }
}

.slider {
  height: 76vh;
  width: 100%;
  position: relative;
}

.slider-container {
  width: 1000px;
  height: 76vh;
  margin: 0 auto;
  position: relative;
  img {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -3em;
  }
  .flavor-content {
    display: inline-block;
    position: absolute;
    width: 45%;
    padding: 0 2em;
    top: 23%;
    right: 0%;
  }
}



.slider-btns {
  position: relative;
  top: 15em;
  img {
    width: 40%;
  }


  .previous {
    position: absolute;
    left: 9%;
    z-index: 200;
    &:hover {
      opacity: 0.8;
    }
  }
  .next {
    position: absolute;
    right: 0.0025em;
    z-index: 200;
    &:hover {
      opacity: 0.8;
    }
  }
}

.contact {
  width: 100%;
  height: 20vh;
  background: #333;
  padding-top: 5em;
  p {
    margin: 0;
    color: rgba(212, 198, 126, 1);
    text-align: center;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.7em;
  }

  a {
    text-decoration: none;
    color: #eee;
    &:hover {
      opacity: 0.7;
    }
  }
}

.nav {
  background: #eee;
  color: #333;
  position: fixed;
  z-index: 300;
  border-bottom: 1px solid #333;
  img {
    position: absolute;
    top: 0.666em;
    left: 2em;
    width: 70px;  
  }


  li:hover{
    border-bottom: 3px solid #333;
      
  }
  .links {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    
  }
}

#age-verefier {
  display: block;
  background: #333;
  hidden: true;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 800;
  position: fixed;
  text-align: center;
  padding-top: 100px;
  color: #fafafa;
  margin-bottom: 1em;

  &.active {
    display: none;
  }

  .logo-age {
    width: 35%;
  }
  
  h1 {
    letter-spacing: 0.04em;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }

  button {
    cursor: pointer;
    background: #CCC973;
    margin-left: 1em;
    font-size: 0.8em;
    padding: 1em;
    border-bottom: 4px solid #807F6E;
    border-right: none;
    border-left: none;
    border-top: none;
      &:hover {
        padding: 1.07em;
      }    
   }

   .btn {
      background: #DADADA;
   }

  p {
    font-weight: 300;
    text-align: center;
    padding: 0 400px;
    line-height: 1.3em;
    margin-top: 0.9em;
  }

  .statement {
    text-transform: uppercase;
    font-weight: bold;
    color: #b11f24;
    text-shadow: 3px 0px 1px #2C2C2C;
  }

}